#header-bg{
    background-image: url("../images/hero_1.jpg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#logo{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    font-weight: bolder;
}

#nav-links{
    display: flex;
    justify-content: space-between;
}

/* #ul-lists{
    display: flex;
    
} */